# Canton DevNet — Seaport Validator
CANTON_LEDGER_API_URL=https://ledger-api.validator.devnet.sandbox.fivenorth.io
CANTON_PACKAGE_ID=4ac3675a4bd13862324ddf2f7b8ceb39768f645b5851443ce9497f03a000e457
CANTON_VALIDATOR_NAME=5n sandbox
